name: Sync to GitLab

on:
  push:
    branches: ["**"]
    tags: ["**"]
  delete:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to GitLab
        env:
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
          GITLAB_PAT: ${{ secrets.GITLAB_PAT }}
          GITLAB_USERNAME: ${{ secrets.USERNAME }}
        run: |
          git remote add gitlab "https://${GITLAB_USERNAME}:${GITLAB_PAT}@${GITLAB_URL#https://}"
          git push gitlab --all --force
          git push gitlab --tags --force
